<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActionSheet" version="2.0.0" targetFramework="monoandroid80" />
  <package id="AFollestad.MaterialDialogs.Commons" version="0.9.4.4" targetFramework="monoandroid90" />
  <package id="AFollestad.MaterialDialogs.Core" version="0.9.6" targetFramework="monoandroid90" />
  <package id="AndHUD" version="1.2.0" targetFramework="monoandroid80" />
  <package id="AppIntro" version="1.0.0" targetFramework="monoandroid80" />
  <package id="Bolts" version="1.4.0.1" targetFramework="monoandroid90" />
  <package id="Bubble" version="1.0.0" targetFramework="monoandroid80" />
  <package id="ChatBar" version="2.0.0" targetFramework="monoandroid80" />
  <package id="CircleButton" version="1.0.0" targetFramework="monoandroid80" />
  <package id="Com.Airbnb.Android.Lottie" version="2.5.1" targetFramework="monoandroid80" />
  <package id="Com.OneSignal" version="3.2.2" targetFramework="monoandroid90" />
  <package id="DotsLoaderView" version="2.0.0" targetFramework="monoandroid80" />
  <package id="Emojicon" version="3.0.0" targetFramework="monoandroid80" />
  <package id="FAB.XamarinAndroid" version="1.6.4.0" targetFramework="monoandroid80" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="monoandroid90" />
  <package id="jQuery" version="2.1.1" targetFramework="monoandroid80" />
  <package id="Karamunting.Android.RanyAlbegWein.SpringFabMenu" version="1.0.1" targetFramework="monoandroid80" />
  <package id="MediaTypeMap.Core" version="2.3.3" targetFramework="monoandroid80" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="monoandroid90" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="monoandroid90" />
  <package id="MimeTypeMap.Core" version="1.0.0" targetFramework="monoandroid90" />
  <package id="Naxam.uCrop.Droid" version="2.2.1" targetFramework="monoandroid80" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="monoandroid90" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="monoandroid80" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid80" />
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="monoandroid80" />
  <package id="Refractored.Controls.CircleImageView" version="1.0.1" targetFramework="monoandroid80" />
  <package id="RestSharp" version="106.5.4" targetFramework="monoandroid90" />
  <package id="SampleDependency" version="1.0.0" targetFramework="monoandroid80" />
  <package id="sqlite-net-pcl" version="1.5.166-beta" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.8" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.core" version="1.1.8" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.8" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.8" targetFramework="monoandroid80" />
  <package id="Square.OkHttp3" version="3.4.1.1" targetFramework="monoandroid80" />
  <package id="Square.OkIO" version="1.6.0.0" targetFramework="monoandroid80" />
  <package id="StyleableToast" version="1.0.0" targetFramework="monoandroid80" />
  <package id="System.AppContext" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Collections" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Console" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Globalization" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.IO" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Linq" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Reflection" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Runtime" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Threading" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="monoandroid90" />
  <package id="Twilio.Video.Android.XamarinBinding" version="1.3.13" targetFramework="monoandroid81" />
  <package id="WaveDrawable" version="1.0.0" targetFramework="monoandroid80" />
  <package id="Xam.Plugins.Android.AutoLinkTextView" version="0.1.1" targetFramework="monoandroid80" />
  <package id="Xam.Plugins.Android.DiagonalLayout" version="1.0.2" targetFramework="monoandroid80" />
  <package id="Xam.Plugins.Android.FlipShare" version="1.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Agora.Full.Android" version="2.1.1-beta1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CustomTabs" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Design" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Exif" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Transition" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v13" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v14.Preference" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v17.Leanback" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v4" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.CardView" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.GridLayout" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.Palette" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.Preference" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.UniversalImageLoader" version="1.9.5.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Auth" version="1.6.0.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Build.Download" version="0.4.9" targetFramework="monoandroid80" />
  <package id="Xamarin.Facebook.Android" version="4.34.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Facebook.AppLinks.Android" version="4.34.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Facebook.Common.Android" version="4.34.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Facebook.Core.Android" version="4.34.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Facebook.Login.Android" version="4.34.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Facebook.Messenger.Android" version="4.34.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Facebook.Places.Android" version="4.34.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Facebook.Share.Android" version="4.34.0" targetFramework="monoandroid90" />
  <package id="Xamarin.FFImageLoading" version="2.2.26-pre-641" targetFramework="monoandroid80" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.2.26-pre-641" targetFramework="monoandroid80" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="monoandroid80" />
  <package id="Xamarin.Google.ZXing.Core" version="3.3.0" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Ads" version="60.1142.1" targetFramework="monoandroid80" />
  <package id="Xamarin.GooglePlayServices.Ads.Lite" version="60.1142.1" targetFramework="monoandroid80" />
  <package id="Xamarin.GooglePlayServices.Auth" version="60.1142.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Auth.Api.Phone" version="60.1142.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Auth.Base" version="60.1142.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Base" version="60.1142.1" targetFramework="monoandroid80" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid80" />
  <package id="Xamarin.GooglePlayServices.Gass" version="60.1142.1" targetFramework="monoandroid80" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="60.1142.1" targetFramework="monoandroid80" />
  <package id="Xamarin.GooglePlayServices.Iid" version="60.1142.1" targetFramework="monoandroid80" />
  <package id="Xamarin.GooglePlayServices.Maps" version="60.1142.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Places" version="60.1142.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Plus" version="60.1142.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.1" targetFramework="monoandroid80" />
  <package id="XamarinAndroidImageCropper" version="2.5.1" targetFramework="monoandroid80" />
  <package id="Xbindings.ReLinker.Droid" version="1.2.3" targetFramework="monoandroid81" />
  <package id="ZhangHai.Android.MaterialProgressBar" version="1.4.2" targetFramework="monoandroid90" />
</packages>